@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
    font-family: BigShouldersDisplay;
    src: url('design/fonts/BigShouldersDisplay-VariableFont_wght.ttf') format("truetype");
}

@font-face {
    font-family: LexandDeca;
    src: url('design/fonts/LexendDeca-VariableFont_wght.ttf') format("truetype");
}